<section class="pad-top-100 pad-btm-40">
  <div class="container">
    <div class="">
      <div class="form-contant">
        <div class="row mrg-top-20">
          <div class="col-lg-6 col-lg-offset-3  col-lg-12 col-sm-8 col-sm-offset-2 mrg-btm-20">
            <div class="row">
              <div class="col-md-12">
                <div class="contact-form ">
                  <img src="../images/login-logo.png" width="" class="img-responsive center-block mrg-btm-20"  alt=""/>
                  <div id="message" class="alert alert-danger center" ng-if="message">{{message}}</div>
                  <form name="myForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.newEmail.$invalid && !myForm.newEmail.$pristine }">
                      <input type="email" placeholder="Email Address" class="form-control" ng-model="newEmail" required>
                      <span style="color:red" ng-show="myForm.newEmail.$pristine && myForm.email.$invalid">
                      <span ng-show="myForm.newEmail.$error.required">Email is required.</span>
                      <span ng-show="myForm.newEmail.$error.email">Invalid email address.</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.newPassword.$invalid && !myForm.newPassword.$pristine }">
                      <input type="password" placeholder="New Password" class="form-control" ng-model="newPassword" ng-minlength="6" required>
                      <span style="color:red" ng-show="myForm.newPassword.$pristine && myForm.newPassword.$invalid">
                      <span ng-show="myForm.newPassword.$error.required">password is required.</span>
                      <span ng-show="myForm.newPassword.$error.minlength">Password must be atleast 6 characters long.</span>

                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.confirmNewPassword.$invalid && !myForm.confirmNewPassword.$pristine }">
                      <input type="password" placeholder="Confirm New Password" class="form-control" ng-model="confirmNewPassword" required>
                      <span style="color:red" ng-show="myForm.confirmNewPassword.$pristine && myForm.confirmNewPasswor.$invalid">
                      <span ng-show="myForm.confirmNewPassword.$error.required">Confirm your password.</span>
                    </div>
                    
                    <div class="text-right mrg-btm-20">
                      <button class="btn btn-default mrg-lft-10" type="submit" ng-click="changePassword(newEmail, newPassword, confirmNewPassword)">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>